
    .phone{
        padding-top:70px;
        float:right ;
        margin: 20px;
        
        }
        body{
        background-color:#fafafa!important;
        }
        .container{
        margin-top: 19px;
        display: flex;
        justify-content: center;
        }
        .right-colum{
        background:#fafafa ;
        border: 1px solid #e6e6e6;
        width: 400px;
        margin: 10px;
        padding:40px ;
        }
        .Facetime{
         font-size: 30px;
         font-family: fantasy;;
        }
        .info{
        font-weight: 600;
        line-height:20px ;
        font-size: 15px;
        color: #999;
        }
        button img {
        height:30px !important ;
        padding: 0    10px   4px;
        }
        .or{
        font-size: 13px !important;
        color: #999;
        font-weight: 600 ;
        
        }
        .or::before{
        content: '';
        background: #efefef;
        display: block;
        height: 2px;
        width:130px;
        position: relative;
        top: 11px;
        }
        .or::after{
            content: '';
            background: #efefef;
            display: block;
            height: 2px;
            width:140px;
            position: relative;
            bottom: 10px;
            left: 180px;
            }
            .col-sm-9{
                display: flex;
            }
        .form-group{
        margin-bottom: 6px !important;
        }
        .form-control{
        background:#fafafa;
        border: 1px solid #efefef;
        font-size:15px!important ;
        }
        ::placeholder{
        color:#999!important;
        }
        .btn{
        margin:12px auto ;
        padding: 2px !important ;
        font-weight: 600;
        }
        .btn-primary{
        background-color:#3897f0 ;
        border: 1px solid #3897f0;
        }
        .terms{
        line-height: 18px;    
        font-size:15px ;
        color: #999;
        margin: 5px   20px;
        }
        .right-column-login{
        background: #fff;
        border: 1px solid #e6e6e6;
        width:300px;
        margin: 8px;
        padding: 10px;
        }