.navbar{
 width: 100%;   
}


.nav-link{
    font-size: 18px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;;

}
.navbar-brand{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;;
    font-size: 30px;
}
.logo{
    color: white;
    font-size: 40px;
    
}
.logo2{
    color: white;
    font-size: 20px;
}

.logo3{
    color: white;
    font-size: 20px;
    margin-right: 3px;
    margin-top: px;
}